body {
     background-color: #fbd65d;
}


.circular_image{
    width: 100%;
    margin: 80px 40px auto;

}
.circular_image img {
    border-radius: 50%; 
    width: 160px;
    height: 160px;
    border: 5px solid black;
}

.name{
    margin-top: -70px;
    font-size: 6rem;
    line-height: 1.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.border-name{
    margin-top: 20px;
    border-top: 3px solid black;
    width: 100%;
}

.introduction{
    margin-top: -100px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}